body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    padding: 10px 20px;
}

.barra-superior .titulo {
    font-size: 24px;
}

.barra-superior .navegacion a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.barra-superior .navegacion a:hover {
    text-decoration: underline;
}

#servicios {
    padding: 20px;
}

h2 {
    color: white; /* Color del texto del título */
}

.contenedor-circulos {
    display: flex;
    justify-content: space-around; /* Espacio entre círculos */
    margin-bottom: 40px; /* Espacio entre secciones */
}

.circulo {
    background-color: #1E1E1E;
    border-radius: 50%;
    margin: 10px; /* Margen entre círculos */
    padding: 20px;
    width: 200px; /* Ajustar el tamaño del círculo */
    height: 200px; /* Ajustar el tamaño del círculo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.circulo:hover {
    box-shadow: 0 0 20px white; /* Sombra difusa blanca al pasar el mouse */
}

.circulo h3, .circulo p {
    color: white; /* Color del texto dentro del círculo */
    text-align: center; /* Centrar texto dentro del círculo */
}

.circulo h3 {
    margin: 0;
}

.circulo p {
    margin-top: 5px; /* Ajuste del margen superior para una mejor alineación */
}

.barra-inferior {
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    padding: 10px 20px;
}