/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.control-residentes,
.control-vehiculos,
.registro-propietarios,
.registro-mascotas {
    flex: 1 1 calc(50% - 40px);
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .control-residentes,
    .control-vehiculos,
    .registro-propietarios,
    .registro-mascotas {
        flex: 1 1 100%;
    }
}

h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Cambios en las casillas de entrada para coincidir con el color azul claro */
form input[type="text"],
form input[type="email"],
form input[type="time"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e0f0ff; /* Cambiar color de fondo a azul claro */
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#lista-propietarios li,
#lista-mascotas li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}